---
---
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/css/reveal.css">
    <link rel="stylesheet" href="/assets/css/theme/blood.css" id="theme">
    <link rel="stylesheet" href="/assets/css/highlight.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script type="text/javascript" src="/assets/js/head.min.js"></script>
  </head>
  <body>
    <div class="reveal"><div class="slides">{{ content }}</div></div>
    <script type="text/javascript" src="/assets/js/reveal.js"></script>
    <script type="text/javascript" src="/assets/js/scripts.js"></script>
  </body>
</html>
